*{margin:0;padding:0;box-sizing:border-box}

html{scroll-behavior:smooth}

body{
  font-family:Arial;
  background:#0f172a;
  color:#e2e8f0;
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  top:0;
  background:rgba(15,23,42,0.9);
  backdrop-filter:blur(10px);
  border-bottom:1px solid #334155;
  z-index:1000;
}

.nav-container{
  max-width:1100px;
  margin:auto;
  padding:15px;
  display:flex;
  justify-content:space-between;
}

.nav-menu a{
  color:#e2e8f0;
  margin-left:20px;
  text-decoration:none;
  font-size:14px;
}

.nav-menu a:hover{
  color:#38bdf8;
}

/* HERO */
.hero{
  text-align:center;
  padding:130px 20px 60px;
}

.hero img{
  width:140px;
  height:140px;
  border-radius:50%;
  border:3px solid #38bdf8;
  margin-bottom:15px;
}

.hero h1{font-size:28px}
.hero span{color:#38bdf8}

.hero p{
  margin-top:10px;
  color:#94a3b8;
}

.hero .cta{
  margin-top:20px;
  display:inline-block;
  padding:10px 20px;
  border:1px solid #38bdf8;
  color:#38bdf8;
  text-decoration:none;
  border-radius:6px;
}

.hero .cta:hover{
  background:#38bdf8;
  color:#0f172a;
}

/* MAIN */
main{
  max-width:1100px;
  margin:auto;
  padding:20px;
}

section{
  margin-bottom:60px;
  opacity:0;
  transform:translateY(40px);
  transition:0.6s;
}

h2{margin-bottom:20px}

/* CARD */
.card{
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  border:1px solid #334155;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
  border-color:#38bdf8;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:20px;
}

/* SKILL */
.skill{margin-bottom:15px}

.bar{
  background:#334155;
  height:8px;
  border-radius:5px;
}

.bar span{
  display:block;
  height:8px;
  background:#38bdf8;
  border-radius:5px;
}

/* PROJECT */
.project img{
  width:100%;
  border-radius:8px;
  margin-bottom:10px;
}

.project a{
  display:inline-block;
  margin-top:10px;
  color:#38bdf8;
  text-decoration:none;
  font-size:14px;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input,textarea{
  padding:10px;
  border-radius:6px;
  border:1px solid #334155;
  background:#0f172a;
  color:white;
}

/* BUTTON */
button{
  background:#38bdf8;
  border:none;
  padding:10px;
  border-radius:6px;
  color:#0f172a;
  font-weight:bold;
}

button:hover{
  opacity:0.8;
  cursor:pointer;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  color:#94a3b8;
}